
body{
    font-family: 'Frank Ruhl Libre', serif;
    background-image: url("Image/backgroundImg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 100%;
}


h2{
    text-align: center;
    text-decoration: inherit;
    color: rgb(59, 27, 177);
    padding-top: 2%;
}


img{
    width:100%;
    box-shadow: 1px 1px 1px white;
}

.quote{
    text-align: center;
    font-style: italic;
}

.flex_nav{
    display: flex;
    align-content: center;
}
.indexH1{
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    text-align: center;
    text-shadow:2px 1px mediumblue;
    padding: 10px;
}
.grid_gal_item1{
grid-row-start: 1;
grid-row-end: 1;
font-size: 36px;
text-shadow: 2px 2px rgb(82, 66, 66);

margin: 1%;
}
.grid_gal_item2{
    grid-row-start: 2;
    grid-row-end: 2;
    shape-rendering: auto;
    font-size: 18px;
    background-color: lightblue;
    }

.grid_head_gal{
    display: grid;
    grid-row: 50px 50px;
    text-align: center;
}

.grid-item1{
grid-row-start: 1;
grid-row-end: 4;
padding: 5%;
box-shadow: 2px 2px 2px rgb(20, 117, 155);
}
.grid-item2{
grid-row-start: 1;
grid-row-end: 1;
padding:1%;
box-shadow: 2px 2px 2px rgb(20, 117, 155);
}

.grid-item3{
grid-row-start: 1;
grid-row-end: 1; 
padding:1%;
box-shadow: 2px 2px 2px rgb(20, 117, 155);
}

.grid-item4{
grid-row-start: 1;
grid-row-end: 4;
padding: 5%;
box-shadow: 2px 2px 2px rgb(20, 117, 155);  
}
.grid-cont_Image{
    display: grid;
    grid-column:  20% 20% 20% 20%;
    grid-row: 20% 20% 20% 20%;
    margin: 20px;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    text-align: center;   
}

.flex-item{
    flex-basis: 40%;
    border: 5px;
    box-shadow:2px 2px 1px rgb(85, 85, 107);
    padding: 3px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-size: 18px;
    
}

.flex-item:active{
    transform: translateY(4px);
}

.flex-cont_Image{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}
.donostiaH1{
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
    text-align: center;
}

.flex-item_don{ 
    flex-basis: 20%;
    box-decoration-break: 2px 1px 1px rgb(15, 29, 231);
    padding: 3%;
    align-items: center;
}

.flex-cont_Image_don{
    display: inline-flex;
    flex-wrap: wrap;
}
.felx_head_item{
    flex-basis: 90%;
    align-items: center;
}

.flex_head_art{
    display: flex;
    flex-wrap: wrap;
}
.grid-item_por1{ 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    box-shadow: 2px 2px 2px grey;
}

.grid-item_por2{ 
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    box-shadow: 2px 2px 2px grey;
}

.grid-item_por3{ 
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    box-shadow: 2px 2px 2px grey;
}
.grid-item_por4{ 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    box-shadow: 2px 2px 2px grey;
}
.grid-item_por5{ 
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    box-shadow: 2px 2px 2px grey;
}
.grid-item_por6{ 
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    box-shadow: 2px 2px 2px grey;
}


.grid-cont_Image_por{
    display: grid;
    grid-row:20% 20% 20% 20;
    grid-column: 25% 25% 25%;
    width: 75%;
    padding: 4%;
    margin: 2%;
    column-gap: 1%;
    row-gap: 1%;
}
.flex-item_klof{
    flex-basis:25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 18px;
    padding: 2%;
}

.flex-cont_Image_klof{
    display: flex;
}